:root {
  --bg: #f4f6fb;
  --card: #ffffff;
  --accent: #5b6cff;
  --text: #1e293b;
  --muted: #e2e8f0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Segoe UI, Roboto, Arial;
  background: var(--bg);
  color: var(--text);
  font-size: 20px;
}

/* TITLE */
.title {
  text-align: center;
  margin: 40px 0;
  font-size: 2.5rem;
  color: var(--accent);
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;

  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;

  flex-wrap: wrap;
}

form,
.result {
  flex: 1;
  min-width: 400px;
  max-width: 650px;

  background: var(--card);
  padding: 28px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  box-shadow: 0 6px 18px rgba(91, 108, 255, 0.2);
}

.result {
  flex: 1;
  min-width: 400px;
  max-width: 650px;

  background: var(--card);
  padding: 12px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 18px rgba(91, 108, 255, 0.2);
}

.result img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: contain;
  border-radius: 12px;
}

input,
select {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid var(--muted);
  font-size: 18px;
}

button {
  background: var(--accent);
  color: white;
  border: none;
  padding: 14px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: 0.2s ease;
}

button:hover {
  background: #4a5af0;
  transform: scale(1.03);
}

.placeholder {
  text-align: center;
  color: #94a3b8;
}

.placeholder p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.placeholder span {
  font-size: 14px;
}
.icon {
  font-size: 180px;
  margin-bottom: 10px;
}